{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your Mars booking booking
      </h1>

      {{ govukSummaryList({
        rows: [
          {
          key: {
              text: "Destination"
            },
            value: {
              text: "Mars"
            },
            actions: {
              items: [
                {
                  href: "/Destination",
                  text: "Change",
                  visuallyHiddenText: "Moon"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Given name"
            },
            value: {
              text: data['mars-given-name']
            },
            actions: {
              items: [
                {
                  href: "/mars",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Family name"
            },
            value: {
              text: data['family-name']
            },
            actions: {
              items: [
                {
                  href: "/mars",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          },
          {
            key: {
              text: "Building and Street"
            },
            value: {
              text: data['street-name']
            },
            actions: {
              items: [
                {
                  href: "/mars",
                  text: "Change",
                  visuallyHiddenText: "Question 4"
                }
              ]
            }
          },
          {
            key: {
              text: "City "
            },
            value: {
              text: data['city-name']
            },
            actions: {
              items: [
                {
                  href: "/mars",
                  text: "Change",
                  visuallyHiddenText: "Question 5"
                }
              ]
            }
          },
          
          {
            key: {
              text: "Postcode"
            },
            value: {
              text: data['postcode']
            },

            actions: {
              items: [
                {
                  href: "/mars",
                  text: "Change",
                  visuallyHiddenText: "Question 3"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
